.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
.sarch{
  padding-top: 5%;
}
.chat{
  padding-top: 3%;
}
.titlecard{
  font-size: large;
}
.iconinvite{
  margin-left: 14%;
  display: block;
  width: 64%;
}
.iconlaba{
  margin-left: 14%;
  display: block;
  width: 64%;
}
.iconshare{
  margin-left: 14%;
  display: block;
  width: 64%;
}
.text1{
  margin-left: 24%;
}
.text2{
  margin-left: 24%;
}

.card1{
  margin-bottom: -5%;
}
.cardtop10{
  width: 40%;
}
.imgtop10{
  width: 60%;
}